@media screen and (max-width: 1416px) {
    .grid-container {
        margin-top:50px;
        margin-inline: 90px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
        

}

@media screen and (max-width: 1039px) {
   
 
    .grid-container {
        margin-top:50px;
        margin-inline: 90px;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    

}

@media screen and (max-width: 983px) {
    .info {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        
    }

    /*.about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0px;

    }*/
}

@media screen and (max-width: 907px) {
    .grid-container {
        margin-top:50px;
        margin-inline: 90px;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    

    .pagos img {
        height: 75px;
    }

    

    .copyright {
        display: none;
    }

}

@media screen and (max-width: 849px) {
  
    .portada {
        display: block;
    }

    .formpc {
        display: none;
    }

    .formcelu {
        display: flex;
    }

}




@media screen and (max-width: 627px) {
    .pie-pagina {
        
        .about {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }
        .copyright {
            display: none;
        }
    }
}

@media screen and (max-width: 621px) {

.encabezado {

    
    .formpc {
    display: none;
    }

    .formcelu {
            display: flex;
    }
    
}

}

@media screen and (max-width: 620px) {
   .inicio {
       margin-bottom: 10px;
    }

   .inicio__item__abajo {
       display: none;
    }

   .galeria {
       display: none;
    }
   
   .inicio__item__iconos {
       display: none;
    }   
   .grid-container {
       margin-top:10px;
       margin-inline: 20px;
       grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
       grid-auto-rows: minmax(100px, auto);
       gap: 20px;
    }
   .pagos img {
        height: 50px;
    }

   
   .boxer_shop {
        display: flex;
        justify-content: center;
    }

 

   .grande1,
   .grande2 {
       flex-direction: column;
       justify-content: center;
   }

   .portada {
       margin-top: 95px;
    }
}

@media screen and (max-width: 493px) {
    .contenedor {
        padding-top: 100px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-size: contain;
        background-position: 100%;
    }

    .portada {
        display: none;
    }

    .caja {
        font-size: 20px;
        height: 50vh;
    }

    .caja2 {
        background-position: bottom center;
    }

    .caja3 {
        background-position: top center;
    }

    
    a .enlace  {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }
      
}