
/*simbolo whast app*/
.wpp {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 80px;
}

/* Pie de pagina*/
.pie-pagina {
    background-color: darksalmon;
    color: beige;
    padding-block: 0px;
    position: relative;
    padding-top: 0%;
    margin-top: 0%;
    width: 100%;
    z-index: 0;


    .about {
        padding-top: 20px;
        display: flex;
        padding-inline: 45px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .info {
            display: flex;
        

            .info1 {
                display: flex;
                flex-direction: column;
                .pie-pagina__item {
                    padding-inline:  20px;
                    padding-block: 10px;
                    font-size: 25px;
                }
                .pie-pagina__item a {
                    color: beige;
                    text-decoration: none;
                }
            
                .pie-pagina__item a:hover {
                    text-decoration: underline;
                }
            }
        }

        .info2 {
            display: flex;
            flex-direction: column;
            .pie-pagina__item {
                padding-inline:  20px;
                padding-block: 10px;
                font-size: 25px;
            }
            .pie-pagina__item a {
                color: beige;
                text-decoration: none;
            }
        
            .pie-pagina__item a:hover {
                text-decoration: underline;
            }
        }
        


        .atencion {
            text-decoration: none; 
            position: relative;
            bottom: 5px;
            right: 6px;
            display: flex;
            align-items: flex-start;

            .numero {
                font-size: 20px;
                padding-top: 0%;
                margin-top: 0%;

            }
        }


    }

    .copyright {
    color: black;
    padding-inline: 40px;
    padding-bottom: 10px;
    }
}




