/*portada*/



.contenedor {
    padding-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.caja {
    height: 100vh;
}

.caja1 {
 text-decoration: none;
 color: white;
 background-image: url("../banners/conjuntos.jpeg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;
 
}

a .enlace  {
    display: none;
    background-color: rgba(0, 0, 0, 0.704);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}


a:hover .enlace {
    display: flex;
}


.caja2 {
    text-decoration: none;
    color: white;
    background-image: url("../banners/boxers.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;
}

.caja3 {
    text-decoration: none;
    color: white;
background-image: url("../banners/pijamas.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;

}

.caja4 {
    text-decoration: none;
    color: white;
background-image: url("../banners/medias.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;

}


/*medios de pago*/

.pagos {
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
}

.pagos img {
    height: 100px;
}



/*imagenes de marcas*/

.grid-item {
    margin-block:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}


.grid-container {
    margin-top:50px;
    display: grid;
    margin-inline: 50px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    margin-bottom: 30px;
}

.grid-item img {
    max-width: 100%;
}