.titular {
    margin-inline: 50px;
   margin-top: 50px;
   margin-bottom: 30px;
    color: beige;
    
}

.content {
    margin-bottom: 50px;
    margin-inline: 200px;
    color: white;
    font-size: 20px;
    .parrafos {
        margin-block:20px;
    }
}

.title {
    margin-top: 40px;
}

.preguntas {
    color: white;
    margin-left: 50px;
    padding-bottom: 20px;
}







