.acordeon {
    margin-inline: 150px;
    margin-bottom: 30px;
}

.barrilete {
    background-color: darkgray;
    color: white;
    font-size: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.envio {
    padding-top: 40px;
}

.demora {
    padding-bottom: 30px;
}

