@import "../styles/partials/variables";
@import "../styles/partials/reset";
@import "./partials/encabezado";
@import "./partials/pie-de-pagina";
@import "./partials/cuerpo";

 
 

@media screen and (max-width: 627px) {
    .about {
        display: flex;
        flex-direction: column;
        
    }
    .copyright {
        display: none;
    }

} 

@media screen and (max-width: 582px) {
    
    .formpc {
        display: none;
    }
    
    
    .formcelu {
        display: flex;
    }

    

}
  





