@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

/*portada*/
.logo {
  background-color: darksalmon;
  z-index: 1;
}
.logo .dropdown {
  list-style-type: none;
}
.logo .logo {
  width: 190px;
  border-radius: 20px;
}
.logo .ingresar {
  width: 40px;
}
.logo .carrito {
  width: 50px;
}
.logo .navbar-collapse {
  flex-grow: 0;
}
.logo .formpc {
  display: flex;
}
.logo .formpc .botonBuscador {
  border-color: gray;
  color: beige;
}
.logo .formpc .botonBuscador:hover,
.logo .formpc .botonBuscador:focus {
  background-color: gray;
  border-color: gray;
  box-shadow: none;
}

.formcelu {
  display: none;
  background: darksalmon;
}
.formcelu .botonEncontrador {
  border-color: gray;
  color: beige;
}
.formcelu .botonEncontrador .botonEncontrador:hover,
.formcelu .botonEncontrador .botonEncontrador:focus {
  background-color: gray;
  border-color: gray;
  box-shadow: none;
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 80px;
}

/*pie de pagina*/
footer {
  background-color: darksalmon;
  margin-top: 0%;
  /*padding-top: 30px;*/
  padding-bottom: 10px;
  margin-bottom: 0px;
}
footer .about {
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .about .general {
  display: flex;
  flex-direction: row;
}
footer .about .general .info1 {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  padding-block: 10px;
}
footer .about .general .info1 .pie-pagina__item {
  padding-block: 5px;
}
footer .about .general .info1 .pie-pagina__item a {
  color: beige;
  text-decoration: none;
}
footer .about .general .info1 .pie-pagina__item a:hover {
  text-decoration: underline;
}
footer .about .general .info2 {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  padding-block: 10px;
}
footer .about .general .info2 .pie-pagina__item {
  padding-block: 5px;
}
footer .about .general .info2 .pie-pagina__item a {
  color: beige;
  text-decoration: none;
}
footer .about .general .info2 .pie-pagina__item a:hover {
  text-decoration: underline;
}
footer .numero {
  color: beige;
}
footer p {
  margin-inline: 20px;
}

@media screen and (max-width: 627px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    display: none;
  }
}
@media screen and (max-width: 582px) {
  .formpc {
    display: none;
  }
  .formcelu {
    display: flex;
  }
}
.principal {
  padding-block: 30px;
  padding-inline: 50px;
  background-color: darkgray;
}
.principal h1 {
  margin-left: 20px;
  color: white;
  font-size: 60px;
}
.principal p {
  color: white;
  font-size: 50px;
  margin-top: 0%;
  margin-bottom: 0%;
}

@media screen and (max-width: 627px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    display: none;
  }
}
@media screen and (max-width: 582px) {
  .formpc {
    display: none;
  }
  .formcelu {
    display: flex;
  }
}/*# sourceMappingURL=estilos.css.map */