@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Edu VIC WA NT Beginner', cursive;
}

body {
    background-color: darkgray;
}

p {
    margin-bottom: 0;
}

/*portada*/


.container-fluid {

    background-color: darksalmon;
    z-index: 1;
}


.logo {
    width: 190px;
    border-radius: 20px;
}

.ingresar {
    width: 40px;
}

.carrito {
    width: 50px;
}


/*portada*/



.contenedor {
    padding-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.caja {
    height: 100vh;
}

.caja1 {
 text-decoration: none;
 color: white;
 background-image: url("../banners/conjuntos.jpeg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;
 
}

a .enlace  {
    display: none;
    background-color: rgba(0, 0, 0, 0.704);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}


a:hover .enlace {
    display: flex;
}


.caja2 {
    text-decoration: none;
    color: white;
    background-image: url("../banners/boxers.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;
}

.caja3 {
    text-decoration: none;
    color: white;
background-image: url("../banners/pijamas.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;

}

.caja4 {
    text-decoration: none;
    color: white;
background-image: url("../banners/medias.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 60px;

}

.portada {
    display: none;
    margin-top: 55px;
    width: 100%;
    
}




/*medios de pago*/

.pagos {
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
}

.pagos img {
    height: 100px;
}



/*imagenes de marcas*/

.grid-item {
    margin-block:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    
}


.grid-container {
    margin-top:50px;
    display: grid;
    margin-inline: 50px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    margin-bottom: 30px;
}

.grid-item img {
    max-width: 100%;
}

/*Catalogos*/
.catalogo {
    width: 100%;
}


/*boxers, medias, conjuntos*/



.boxer_shop {

    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.grande1 {
    display: flex;
    gap: 1.5%;
}

.grande2 {
    display: flex;
    gap: 1.5%;
}

/*articulos*/

.articulo {
   padding: 10px;
   margin-block: 40px;
   border-radius: 20px;
   width: 100%;
   transition: all .2s;
}

.articulo:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.05);
}


.articulo_imagen {
    width: 100%;
    border-radius: 10px;

}

.articulo_titulo {
    color: white;
    font-size: 25px;
   
}

.articulo_parrafo {
    color: white;   
    font-size: 14px;
}

.articulo_boton {
    background-color: darkslategrey;
    border: none;
    border-radius: 10px;
    padding: 15px;
   
    

}

.articulo_boton:hover {
    background-color: darksalmon;
}

.letra_boton {
    color: white;
    font-size: 20px;
    


}

.articulo__imagen,
.articulo_titulo,
.articulo_parrafo {
    margin-bottom: 10px; 
}




/* Pie de pagina*/
.pie-pagina {
    background-color: darksalmon;
    color: beige;
    padding-block: 0px;
    position: relative;
    padding-top: 0%;
    margin-top: 0%;
    width: 100%;
    z-index: 0;
}

.about {
    padding-top: 0%;
    margin-top: 0%
    
}

.pie-pagina__item {
padding-inline:  20px;
padding-block: 10px;
font-size: 25px;
}


.pie-pagina__item a {
    color: beige;
    text-decoration: none;
    
    
}

.pie-pagina__item a:hover {
    text-decoration: underline;
    
    
}

.atencion {
text-decoration: none; 
position: relative;
bottom: 5px;
right: 6px;
display: flex;
align-items: flex-start;

}

.numero {
    font-size: 20px;
    padding-top: 0%;
    margin-top: 0%;

}

.info {
    display: flex;
}

.info1 {
    display: flex;
    flex-direction: column;
}

.info2 {
    display: flex;
    flex-direction: column;
}


.about {
    padding-top: 20px;
    display: flex;
    padding-inline: 45px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.copyright {
    color: black;
padding-inline: 40px;
 padding-bottom: 10px;
}

/*logo whats app*/

.wpp {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 80px;

}




/*Inicio sesion*/

.cuenta {
    margin-block: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cuenta h1 {
   font-size: 50px;
   color: white; 
}

.hace {
    text-decoration: none;
    color: white;
    text-decoration: none;
    
}

.hace:hover {
    text-decoration: none;
    color: white;
}

.ingreso {
    background-color: darksalmon;
    border-color: darksalmon;
    
}

.ingreso:hover {
    text-decoration: none;
    background-color: darksalmon;
    border-color: darksalmon;
    box-shadow: none;
    color: white;
    
}


/*nosotros.html*/

.titulo {
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: white;
    font-size: 60px;
}

.parrafos {
    margin-block:50px;
}



.somos {
    margin-top: 0;
    margin-bottom: 50px;
    margin-inline: 40px;
    color: white;
    font-size: 30px;
}

.crear {
    background-color: darksalmon;
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    list-style: none;
}

.botonBuscador {
    border-color: gray;
    color: gray;
}

.botonBuscador:hover,
.botonBuscador:focus {
    background-color: gray;
    border-color: gray;
    box-shadow: none;
}

.formpc {
    display: flex;
}

.formcelu {
    display: none;
    background: darksalmon;
}


.quienes {
    color: darksalmon;
}

@media screen and (max-width: 1416px) {
    .grid-container {
        margin-top:50px;
        margin-inline: 90px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
        

}
        
       


@media screen and (max-width: 1039px) {
   
 
        .grid-container {
            margin-top:50px;
            margin-inline: 90px;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        }

        

}



@media screen and (max-width: 983px) {
    .info {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0px;

    }
}



@media screen and (max-width: 907px) {
    .grid-container {
        margin-top:50px;
        margin-inline: 90px;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    

    .pagos img {
        height: 75px;
    }

    

    .copyright {
        display: none;
    }

}

@media screen and (max-width: 849px) {
  
    .portada {
        display: block;
    }

    .formpc {
        display: none;
    }

    .formcelu {
        display: flex;
    }

}
   



@media screen and (max-width: 620px) {
     .buscador_mobile {
        display: block;
    }

    .inicio {
        margin-bottom: 10px;
    }

    .inicio__item__abajo {
        display: none;
    }

    .galeria {
        display: none;
    }
    .hamburguesa {
        display: block;
    }
    .inicio__item__iconos {
        display: none;
    }   
    .grid-container {
        margin-top:10px;
        margin-inline: 20px;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        gap: 20px;
    }
    .pagos img {
    height: 50px;
    }
    
    .boxer_shop {
    display: flex;
    justify-content: center;
    

    }

  

    .grande1,
    .grande2 {
        flex-direction: column;
        justify-content: center;
    }

    .portada {
        
        margin-top: 95px;
        
        
    }
}


@media screen and (max-width: 493px) {
    .contenedor {
        padding-top: 100px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-size: contain;
        background-position: 100%;
    }

    .portada {
        display: none;
    }

    .caja {
        font-size: 20px;
        height: 50vh;
    }

    .caja2 {
        background-position: bottom center;
    }

    .caja3 {
        background-position: top center;
    }

    
    a .enlace  {
        display: flex;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }
      
}
